{% extends 'extends/base.html' %}

{% block title %}
    Medtest Details
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% if user.acc_type == 1 %}
        <li class="list-group-item"><a href="{% url 'doctor:medtests' object.patient_id.id %}">Back to Medtests</a></li>
        {% elif user.acc_type == 4 %}
        <li class="list-group-item"><a href="{% url 'lab:medtests_update' object.id %}">Update Medtest</a></li>
        {% endif %}
        <li class="list-group-item"><b>Medtest: </b> {{ object }}</li>
        <li class="list-group-item"><b>Date_application: </b> {{ object.date_application }}</li>
        <li class="list-group-item"><b>Date_registration: </b> {{ object.date_registration }}</li>
        <li class="list-group-item"><b>Date_taking_material: </b> {{ object.date_taking_material }}</li>
        <li class="list-group-item"><b>Target_date: </b> {{ object.target_date }}</li>
        <li class="list-group-item"><b>Material: </b> {{ object.material }}</li>
        <li class="list-group-item"><b>Diagnosis: </b> {{ object.diagnosis }}</li>
        <li class="list-group-item"><b>Delivering_method: </b> {{ object.delivering_method }}</li>
        <li class="list-group-item"><b>Status: </b> {{ object.get_readiness_display }}</li>
        <li class="list-group-item"><b>Patient_id: </b> {{ object.patient_id }}</li>
    </ul>
{% endblock %}