{% extends 'extends/base.html' %}

{% block title %}
    Doctor Index
{% endblock %}

{% block content %}

    {% if object_list %}
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'lab:index' %}">Back to index</a></li>
            {% for med in object_list %}
                <li class="list-group-item"><a
                        href="{% url 'lab:medtest_details' med.id %}">{{ med }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'lab:index' %}">Back to index</a></li>
            <li class="list-group-item">No Medtest Exists for this Patient!</li>
        </ul>
    {% endif %}

{% endblock %}