{% extends 'extends/base.html' %}

{% block title %}
    Patients list
{% endblock %}

{% block content %}

    {% if object_list %}
    <ul class="list-group">
        {% for pat in object_list %}
            <li class="list-group-item"><a href="{% url 'doctor:patient_details' pat.id %}">
                {{ pat.first_name }} {{ pat.last_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="list-group">
        <li class="list-group-item" ><a href="{% url 'doctor:patients'%}">Back to Patients List</a></li>
            <li class="list-group-item"  >No Patients exist!</li>
    </ul>
    {% endif %}


{% endblock %}