{% extends 'extends/base.html' %}

{% block title %}
    Patient Details
{% endblock %}

{% block content %}



    <ul class="list-group">
    <li class="list-group-item"  ><a href="{% url 'doctor:patients'  %}">Back to Patients</a></li>
    <li class="list-group-item"  ><a href="{% url 'doctor:medtests' object.id %}">See Medtests</a></li>
  <li class="list-group-item"  ><h3>{{ object }}</h3></li>
  <li class="list-group-item"><b>First_name:</b> {{ object.first_name }}</li>
  <li class="list-group-item"><b>Middle_name:</b> {{ object.middle_name }}</li>
  <li class="list-group-item"><b>Last_name:</b> {{ object.last_name }}</li>
  <li class="list-group-item"><b>Gender:</b> {{ object.gender }}</li>
  <li class="list-group-item"><b>Birth_date:</b> {{ object.birth_date }}</li>
  <li class="list-group-item"><b>Address:</b> {{ object.address }}</li>
  <li class="list-group-item"><b>Phone_number:</b> {{ object.phone_number }}</li>
  <li class="list-group-item"><b>Email:</b> {{ object.email }}</li>
  <li class="list-group-item"><b>Blood_type":</b> {{ object.blood_type }}</li>
  <li class="list-group-item"><b>Notes:</b> {{ object.notes }}  </li>
  <li class="list-group-item"><b>Doctor_id:</b> {{ object.doctor_id }}</li>
</ul>
{% endblock %}