{% extends 'extends/base.html' %}

{% block title %}
   Doc Schedule
{% endblock %}

{% block content %}
<table class="table table-light table-bordered table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Time</th>
            <th scope="col">Avaliability</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
        </tbody>
    </table>
{% endblock %}