{% extends 'extends/base.html' %}

{% block title %}
    Apply for Visit
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div >
            <div >
                <div >
                    <h3>Apply for Visit</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Patient: {{ user.pat_ref }}</li>
                        <li class="list-group-item">Main Doctor: {{ user.doc_ref }}</li>
                    </ul>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'doctor/schedule_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}