<header>
<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" href="{% url 'main:index' %}">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:info' %}">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patient:index' %}">Patient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'doctor:index' %}">Doctor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lab:index' %}">Lab</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
{% else %}
        <li class="nav-item">
            <a class="nav-link mr-auto" href="{% url 'login' %}">Login</a>
        </li>
{% endif %}


    </ul>

</nav>
</header>