{% extends 'extends/base.html' %}

{% block title %}
    Patient
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <h3>Patient</h3>
        <ul class="list-group">
            <li class="list-group-item"><b>Patient:</b>  {{ user.pat_ref }}</li>
            <li class="list-group-item"><b>Main Doctor:</b>  {{ user.doc_ref }}</li>
        </ul>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
{% endblock %}